<ion-view view-title="Plan">

    <ion-content scroll="true" style="padding: 5px;">
    	<div id="directions-panel"></div>
    	<a href="{{url}}" style="font-size: 20px;">Get event ticket!</a>
    </ion-content>
    <style type="text/css">
    		#map1 {
    			top: 15%;
    			height: 20%;
    			width: 100%;
    		}
            #map2 {
                top: 20%;
                height: 20%;
                width: 100%;
            }
            #map3 {
                top: 25%;
                height: 20%;
                width: 100%;
            }
    	</style>
    	<div class="map" id="map1"></div>
        <div class="map" id="map2"></div>
        <div class="map" id="map3"></div>

</ion-view>